    .wrapper {
        width: 60%;
        margin: 30px auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        line-height: 100px;
        color: grey;
    }

    .square {
        border: 1px solid black;
        width: 100px;
        height: 100px;
    }

    .yellow {
        background-color: yellow;
    }

    .green {
        background-color: lightgreen;
    }
